<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Home</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  </head>

  <body>
    <h1 class="titles">The Musique</h1>
      <div class="box">
        <h1>Find Your Music. <br>Listen Something Awesome.</h1>
        <div id="index-links">
          <a href="/signup"><h2 class="link">Sign Up</h2></a>
          <a href="/login"><h2 class="link" id="link-space">Log In</h2></a>
        </div>
      </div>


  <video class="background-video" autoplay loop muted>
  <!-- source:https://www.youtube.com/watch?v=DozcUaQzgYk -->
    <source src="video.mp4" type="video/mp4">
    <source src="video.mp4" type="video/ogg">
  </video>

  </body>
</html>
