<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <div class="container" id="login_background">
    <h1 class="titles">The Musique</h1>
      <div id="holder">
        <div id="left">
          <h3> Do What You Like.</h3>
          <h3> Live Your Life.</h3>
          <h3> Follow Your Passion.</h3>
          <h3> Make Mistakes.</h3>
          <h3> Create New Ending.</h3>
        </div>
        <div id="right">
          <h1>Music Log In</h1>
          <form class="" action="/auth" method="post">
            <input type="text" name="user[username]" value="" placeholder="Username">
            <input type="password" name="user[password]" value="" placeholder="Password">
            <input type="submit" id="login-submit" name="name" value="Log In">
          </form>
          <p>Not a member? <a href="/signup">Sign Up</a></p>
        </div>
      </div>

    </div>
  </body>
</html>
