<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
  </head>

  <body>
    <h1>Music Log In</h1>
    <form class="" action="/auth" method="post">
      <input type="text" name="user[username]" value="" placeholder="Username">
      <input type="password" name="user[password]" value="" placeholder="Password">
      <input type="Submit" name="name" value="Log in">
    </form>
  </body>
</html>
